html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}

.mat-mdc-form-field {
  margin-bottom: 8px;
}

h1 {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 500;
}
